<div *ngIf="product">
    <p>{{product.name}}</p>
    <p>{{product.category.name}}</p>
    <p>{{product.price}}</p>
    <p>{{product.img.url}}</p>
    <form #formInfo="ngForm">
    
        <mat-form-field 
          appearance="outline">
        <mat-label>Quantity</mat-label>
            <input matInput  required min="1"
            #quantityInfo="ngModel" [(ngModel)]="cartItem.quantity" name="quantity" 
            type="number"  placeholder="Quantity">
        
          <mat-error *ngIf="quantityInfo.errors?.required && quantityInfo.touched">
            Quantity Missing</mat-error>
          </mat-form-field>
    
        <button mat-raised-button
        [disabled]="formInfo.form.invalid" (click)="addToCart()">
        Add To Cart
        </button>
    </form>
</div>
