<form #formInfo="ngForm">
    
    <mat-form-field 
      appearance="outline">
    <mat-label>Search Product</mat-label>
        <input matInput  required 
        #searchProductInfo="ngModel" [(ngModel)]="searchProduct" name="searchProduct" 
        type="text"  placeholder="Search Product">
    
      <mat-error *ngIf="searchProductInfo.errors?.required && searchProductInfo.touched">
        Search Product Missing</mat-error>
      </mat-form-field>

    <button mat-raised-button
    [disabled]="formInfo.form.invalid" (click)=" searchProductFun()">
    Search Product
    </button>
</form>