<mat-toolbar class="mat-toolbar">
  
    <mat-toolbar-row class="toolbar-first-row">
        <div class="toolbar-div">
             <mat-icon mat-button
            (click)="userOpenProductNavBarPanelDialog()" 
       
            >menu</mat-icon>
            <mat-icon 
            (click)="PanelOpenOrCluse(0,1)" 
           >search</mat-icon>         
            <mat-icon 
            (click)="PanelOpenOrCluse(1,0)" 
            matBadge="{{numberOfCartItems}}"
            >shopping_cart</mat-icon>          
      <div class="massage-to-user">

      </div>
    </div>


    </mat-toolbar-row>
    <mat-toolbar-row>
  
        <app-search-product class="toolbar-second-row-components"
        *ngIf="PanelOpenOrCluseArray[0]"
        ></app-search-product>

        <app-shopping-cart class="toolbar-second-row-components"
        *ngIf="PanelOpenOrCluseArray[1]"
        ></app-shopping-cart>
    </mat-toolbar-row>
   </mat-toolbar>