.cart-container{
    overflow: auto;
    height: 50vh;
}
.cart-item-img{
    height: 20vh;
    object-fit: contain;}

.form{
    align-items: center;
}
.spacer{
    height: 170px;
}
.product-card{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px; */
    margin-bottom: 5px;
}
.product-card {
text-align: center;
}
.product-card-h {
    margin-bottom:0;
    color: rgb(235, 235, 235);
    line-height: initial;
    }
.product-card-price{
    color:#67daff;
    font-weight: 700;
    font-size: 105%;
}
.spacer{
    height: inherit;
    border-left: 1px solid #666;
}
.delete-icon{
    text-align: end;
}
.quantity-and-price-p{
    padding-left:2%;
}
.remove-one-quantitiy-btn{
    border: none;
    padding: none;
    margin: none;
    background: none;
    color:#67daff;
}
.search-mat-form-input{
    padding: -1rem;
}
.div-input-quantity{

}
.input-quantity{
    width: 50px;
    text-align: center;
    height: 23px;
}
.product-name-h3{
    font-weight: 300;
}
.qty-label{
    font-weight: 300;
}
.general-price-span{
    font-weight: 300;

}

.cart-item-order-component-div{
    text-align: center;
}
.cart-for-loop-order-component-div{
    max-width: 100%;
    text-align: center;
}
.cart-container-order-component{
   justify-content: center;
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
    .cart-for-loop-order-component-div{
        max-width: 33.3%;
   }
}
@media only screen and (min-width: 959px)  and (max-width: 1919px){
    .cart-container-order-component{
        overflow: auto;
        height: 100vh;
    }
    .cart-for-loop-order-component-div{
        max-width: 33.3%;
    }
}
@media only screen and (min-width: 1920px){
    .cart-for-loop-order-component-div{
        max-width: 20%;
    }
}
