<div class="form-continer">


<form #formInfo="ngForm" class="form" *ngIf="userId === null;else logoutTemplate" fxLayout="column" fxLayoutAlign="center center">
    <h1>Login</h1>
    <mat-form-field 
      appearance="outline">
    <mat-label>Email</mat-label>
        <input matInput  required 
        #emailInfo="ngModel" [(ngModel)]="user.email" name="email" 
        type="text"  placeholder="Email">
    
      <mat-error *ngIf="emailInfo.errors?.required && emailInfo.touched">
        Email Missing</mat-error>
      </mat-form-field>

        <mat-form-field 
      appearance="outline">
    <mat-label>Password</mat-label>
        <input matInput  required 
        #passwordInfo="ngModel" [(ngModel)]="user.password" name="password" 
        type="text"  placeholder="Email">
    
      <mat-error *ngIf="passwordInfo.errors?.required && passwordInfo.touched">
        Password Missing</mat-error>
      </mat-form-field>

    <button mat-raised-button  class="loginBtn"
    [disabled]="formInfo.form.invalid" (click)="login()">
      Login
    </button>
</form>


<a *ngIf="userId === null"  routerLink="/register">Registered</a>


<div class="user-logged-in" fxLayout="column" fxLayoutAlign="center center">

  <app-start-or-resume-shopping-btn [userId]=userId
  *ngIf="userId !== null"
  ></app-start-or-resume-shopping-btn>
  <ng-template #logoutTemplate >
    <button fxLayoutAlign="center center" class="loginBtn" mat-raised-button color="#67daff" (click)="logout()">
        Logout
    </button>
  </ng-template>
  </div>

</div>