.form{
  background-color: #ccc7b9;
}
.search-mat-form-input{
    border-radius: 0;
      background-color: #ccc7b9;

}
.search-icon{
    font-size: x-large;
    font-weight: 700;
}

.search-btn{
    border:none;   
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 0;
    margin-bottom: 32px;
    margin-top: 5px;
}

