form{
	position: relative;
}
.image{
	height: 20vh;
    object-fit: contain;
}
.close-dialog-icon{
    position: absolute;
    top: -21px;
    right: -21px;
    border: 2px #ccc7b9 solid;
    border-radius: 50%;
    color: #75726a;
}

.add-image-icon{
    height: 20vh;
	font-size: 20vh;
	text-align: center;
}