
.spacer{
 margin-top: 15px;
}
.form-continer{
    background-color: rgb(250,250,250);
}
.create-accont-p{
    margin-top: 10px;
}

.user-logged-in-container{
    display: flex;
    justify-content: space-around;
}

.padding-bottom{
    padding-bottom: 30px;
}

