<mat-toolbar class="mat-toolbar">
  
    <mat-toolbar-row class="toolbar-first-row">
        <div class="toolbar-div">
     <!-- (click)="productMenuPanelOpenState = productMenuPanelOpenState?
            false:
            true"  -->
            <mat-icon 
            (click)="PanelOpenOrCluse(0,1,2)" 
       
            >menu</mat-icon>
            <mat-icon 
            (click)="PanelOpenOrCluse(1,0,2)" 
           >search</mat-icon>         
            <mat-icon 
            (click)="PanelOpenOrCluse(2,0,1)" 
            matBadge="{{numberOfCartItems}}"
            >shopping_cart</mat-icon>          
      <div class="massage-to-user">

      </div>
    </div>


    </mat-toolbar-row>
    <mat-toolbar-row>
        <app-product-nav-bar class="toolbar-second-row-components"
        *ngIf="PanelOpenOrCluseArray[0]"
        ></app-product-nav-bar>

        <app-search-product class="toolbar-second-row-components"
        *ngIf="PanelOpenOrCluseArray[1]"
        ></app-search-product>

        <app-shopping-cart class="toolbar-second-row-components"
        *ngIf="PanelOpenOrCluseArray[2]"
        ></app-shopping-cart>
    </mat-toolbar-row>
   </mat-toolbar>