<button mat-stroked-button class="delete-cart-btn"
(click)="deleteAllCartItems()"
[disabled]="(shoppingCartItems$|async).length === 0"
>
<mat-icon>remove_shopping_cart</mat-icon>
DELETE CART</button>

<div>
    <app-shopping-cart-template class="shopping-cart-template"
    [shoppingCartItems]="shoppingCartItems$|async"
    [orderShoppingCart]="false"
    ></app-shopping-cart-template>  
</div>
<div fxLayout="row wrap" class="order-and-price-div">

    <span fxFlex="60%" class="total-pica-span">Total Price: {{(cartItemsFinalPrice$ | async ) |  currency}}</span>
    <button mat-button fxFlex="40%" class="order-btn"
    [disabled]="(shoppingCartItems$|async).length === 0"
    routerLink="/order">
    order
    </button>
</div>
