.order-and-price-div{
    background-color: #ccc7b9;
    height: 10vh;
}

.total-pica-span{
    align-self: center;
    color: #ffff;
}
.order-btn{
    background: #03a9f4;
    font-size: x-large;
    font-weight: 700;
    color: #ffff;
}