<div class="spacer"></div>
<h1 class="first-header-h1">Checkout</h1>
<div class="div-app-shopping-cart-template">
  <app-shopping-cart-template 
  [shoppingCartItems]="shoppingCartItems$|async"
  [orderShoppingCart]="true"
  ></app-shopping-cart-template>
</div>




 <form #formInfo="ngForm" fxLayout="row wrap" fxLayoutGap="5px">
    
    <mat-form-field fxFlex="calc(60% - 5px)"
    appearance="outline">
        <mat-label>Choose a Shpping Date</mat-label>
        <input matInput [matDatepicker]="picker"
        required  [min]="minShippingDate"
        #shppingDateInfo="ngModel" [(ngModel)]="orderAddOrderReq.shppingDate" name="shppingDate" 
       placeholder="Shpping Date"  [matDatepickerFilter]="shippingDateFilter"
        >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="shppingDateInfo.errors?.required && shppingDateInfo.touched">
            Shpping Date Missing</mat-error>
      </mat-form-field>
  
      <mat-form-field fxFlex="calc(40% - 5px)"
      appearance="outline">
    <mat-label>Shpping Street</mat-label>
        <input matInput  required 
        #shppingStreetInfo="ngModel" [(ngModel)]="orderAddOrderReq.shppingStreet" name="shppingStreet" 
        type="text"  placeholder="Street">
    
      <mat-error *ngIf="shppingStreetInfo.errors?.required && shppingStreetInfo.touched">
        Shpping Street Missing</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" fxFlex="calc(100% - 5px)">
        <mat-label>Shipping City</mat-label>
      <mat-select  
      type="text"  
     [(ngModel)]="orderAddOrderReq.shippingCity" required
     #shippingCityInfo="ngModel"  name="shippingCity"
     >
        <mat-option *ngFor="let c of cities" [value]="c.english_name">
          {{c.english_name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="shippingCityInfo.errors?.required && shippingCityInfo.touched">
        Shipping City Missing</mat-error>
    </mat-form-field>

      <div class="creditCard" fxFlex="calc(100% - 5px)"
        fxLayout="row wrap" fxLayoutGap="5px">

        <mat-form-field fxFlex="calc(100% - 5px)"
        appearance="outline">
      <mat-label>Card Number</mat-label>
          <input matInput  required 
          #cardNumberInfo="ngModel" [(ngModel)]="orderAddOrderReq.creditCard.cardNumber" name="cardNumber" 
          type="text"  placeholder="Card Number">
      
        <mat-error *ngIf="cardNumberInfo.errors?.required && cardNumberInfo.touched">
            Card Number Missing</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="calc(30% - 5px)">
          <mat-label>Expiration Date Month</mat-label>
        <mat-select  required
        #expirationDateMonthInfo="ngModel" [(ngModel)]="orderAddOrderReq.creditCard.expirationDate.month" name="month" 
        placeholder="Expiration Date Month"
       >
          <mat-option *ngFor="let m of allMonthsInYear" [value]="m.value">
            {{m.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="expirationDateMonthInfo.errors?.required && expirationDateMonthInfo.touched">
          Expiration Date Missing</mat-error>
      </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="calc(30% - 5px)">
          <mat-label>Year</mat-label>
        <mat-select  required
        #expirationDateMonthInfo="ngModel" [(ngModel)]="orderAddOrderReq.creditCard.expirationDate.year" name="year" 
        placeholder="Year"
       >
          <mat-option *ngFor="let y of getExpirationYears" [value]="y.value">
            {{y.value}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="expirationDateMonthInfo.errors?.required && expirationDateMonthInfo.touched">
          Expiration Date Missing</mat-error>
      </mat-form-field>

    
        <mat-form-field fxFlex="calc(10% - 5px)"
        appearance="outline">
      <mat-label>CVV</mat-label>
          <input matInput  required 
          #cvvInfo="ngModel" [(ngModel)]="orderAddOrderReq.creditCard.cvv" name="cvv" 
          type="text"  placeholder="CVV">
      
        <mat-error *ngIf="cvvInfo.errors?.required && cvvInfo.touched">
            CVV Missing</mat-error>
        </mat-form-field>
      </div>
 
      <p fxFlex="calc(100% - 5px)" class="finalPrice-p">total price  {{orderAddOrderReq.finalPrice |  currency}}</p>

   
 
  <div fxLayoutAlign="center" fxFlex="calc(100% - 5px)">
    <button mat-raised-button fxFlex="calc(50% - 5px)"
    [disabled]="formInfo.form.invalid" class="order-btn"
    (click)="UserOrder()">
    Order
    </button>
  </div>
 
</form>