.product-img{
    height: 120px;

}
.spacer{
    height: 170px;
}
.product-card{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2px; */
    margin-bottom: 5px;
}
.product-card {
text-align: center;
}
.product-card-h {
    margin-bottom:0;
    color: #666;
    line-height: initial;
    }
.product-card-price{
    color:#67daff;
    font-weight: 700;
    font-size: 105%;
}