.product-card{
    margin-bottom: 5px;
    text-align: center;

}
.product-img{
    height: 20vh;
    object-fit: contain;
}
.product-card-h {
    margin-bottom:0;
    color: #666;
    line-height: initial;
    }
.product-card-price{
    color:#67daff;
    font-weight: 700;
    font-size: 105%;
}

@media only screen and (min-width: 600px) and (max-width: 959px) {
    .product-img{
        height: 30vh;
    }


}