.product-card{
    margin-bottom: 5px;
    text-align: center;

}
.product-img{
    height: 120px;

}
.product-card-h {
    margin-bottom:0;
    color: #666;
    line-height: initial;
    }
.product-card-price{
    color:#67daff;
    font-weight: 700;
    font-size: 105%;
}
